body {
  padding: 0;
  margin: 0;
  min-width: 1000px; /* 확대 또는 축소 시 body 폭이 컨텐츠보다 좁아져 레이아웃이 바뀌는 현상 방지 */
  font-family: 'pretendard';
  line-height: 1.2;
}

img {
  vertical-align: top; /* 이미지 아래 비는 공간 제거 */
}

.contents-center { /* 컨텐츠 중앙에 위치 */
  margin: 0 auto;
  max-width: 1278px;
}

.txt-hide { /* IR 기법 */
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: 0px;
  overflow: hidden;
}

.button-style { /* 버튼 스타일 지정 */
  border: 0;
  height: 50px; /* 높이는 50px로 고정. 너비는 텍스트에 맞게 늘어나도록 따로 지정하지 않음 */
  padding: 0 40px;
  border-radius: 40px;
  background-color: #D97652;
  font-size: 16px;
  color: white;
}

.button-style:active { /* 버튼 클릭중일 때 어둡게 */
  background-color: #b46244;
}

.list-style-none {
  list-style: none; /* ul 리스트의 왼쪽 점 제거 */
}

.img-style {
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 방향 가운데 정렬 */
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.point-color {
  color: #D97652;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-120 {
  margin-top: 120px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.black-anchor:visited,
.black-anchor:active,
.black-anchor:link { /* 앵커 색상 지정 */
  color: black;
}

.devide-line {
  height: 1px;
  margin-top: 68px;
  background-color: rgba(196, 196, 196, 0.5);
}

.display-none {
  display: none;
}

/* header 시작 */
header {
  background-color: #F2E9D8;
  height: 900px;
}

header > div {
  height: 100%; /* benner-img를 바닥에 붙이기 위해 높이를 header와 맞춤 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav {
  height: 102px;
}

.header-nav li { /* Home | About | Support | Download */
  display: inline; /* 리스트를 한 라인으로 */
  margin-left: 30px; /* 리스트 사이 간격 */
}

.header-nav a {
  text-decoration: none; /* 앵커 밑줄 제거 */
}

.header-logo {
  height: 40px;
}

.left-margin { /* Home | About | Support ||||| Download */
  margin-left: 29px; /* 리스트와 Download 사이 간격 조절*/
}

header .header-content {
  width: 695px;
}

header p { /* 배너 설명 */
  width: 420px;
}

/* header 종료 */



/* main 시작 */
.main-top-section > div {
  padding-left: 110px;
}

.image-list {
  margin-top: 88px;
}

.image-list > ul {
  margin: 70px 0 0 0;
  padding: 0;
}

.image-list img {
  width: 378px;
  height: 378px;
  object-fit: cover; /* 이미지 원본 비율 유지하면서 크기변경 가능 */
  transition: transform 0.1s ease; /* 애니메이션 방식 설정 */
}

.image-list img:hover {
  transform: scale(1.1); /* 이미지 커지는 애니메이션 */
}

.image-list img:active {
  transform: scale(1.08); /* hover 상태에서 클릭하면 살짝 작아지기 */
}

#inf-scroll-btn {
  margin-top: 28px;
}

.stop-scroll-btn { /* 버튼 스타일 지정 */
  height: 50px; /* 높이는 50px로 고정. 너비는 텍스트에 맞게 늘어나도록 따로 지정하지 않음 */
  padding: 0 40px;
  border-radius: 40px;
  background-color: white;
  font-size: 16px;
  color: black;
}

.stop-scroll-btn:active { /* 버튼 클릭중일 때 색 어둡게 */
  background-color: #d3d3d3;
}

/* main 끝 */



/* footer 시작 */
footer{
}

#container {
  background-color: #D3D3D3;
  border-radius: 12px;
  margin-top: 48px;
}

.footer-subscribe {
  background-color: #263140;
  border-radius: 30px;
  color: white;
  padding: 50px 58px;
  position: relative;
  z-index: 1; /* 아래의 고양이 사진보다 위로 */
}

.footer-subscribe > div {
  width: 471px;
}

.footer-subscribe > div > p {
  color: #F2E9D8;
}

.footer-subscribe form {
  background-color: white;
  box-sizing: border-box;
  width: 530px;
  height: 60px;
  border-radius: 60px;
  padding: 0 6px 0 28px;
}

.footer-subscribe input {
  display: inline-block;
  width: 250px;
  height: 20px;
  padding: 0;
  border: 0;
  margin-left: 10px;
  outline: none;
}

.footer-img-line > img {
  width: 100%;
  height: 340px;
  object-fit: cover; /* 이미지 원본 비율 유지하면서 크기변경 가능 */
  margin-top: -100px;

}

.footer-nav {
  height: 160px;
}

.footer-nav li { /* blog | instar | facebook | youtube */
  display: inline; /* 리스트를 한 라인으로 */
  margin-left: 20px; /* 리스트 사이 간격 */
}

.footer-nav a {
  text-decoration: none; /* 앵커 밑줄 제거 */
}

/* footer 종료 */



/* modal 시작 */

.modal-content {    /* 모달 컨텐츠 화면 가운데 정렬 */
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 구독 카드 모달 */
#subscribe-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#subscribe-modal > .modal-content {
  width: 600px;
  height: 400px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  background-image: url("https://sjw0851.github.io/FE-project/img/cat/modal_background.png");
}

#subscribe-modal > .modal-content > img {
  margin-top: 60px;
}

#subscribe-modal > .modal-content > h2 {
  margin-top: 24px;
}

#subscribe-modal > .modal-content > p {
  margin-top: 12px;
}

#subscribe-modal > .modal-content > button {
  margin-top: 38px;
}

/* 원본 이미지 모달 */
#img-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#img-modal > .modal-content {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
}

#img-modal img {
  max-width: 80vw;
  max-height: 90vh;   /* 보이는 화면에서 최대 90% 높이 적용 */
}

/* modal 끝 */



/* 페이지 상단 이동 버튼 */
.top-scroll, .bottom-scroll {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: 0;
  position: fixed;
  z-index: 100;
}

.top-scroll {
  right: 24px;
  bottom: 80px;
}

.bottom-scroll {
  right: 24px;
  bottom: 20px;
}

.top-scroll-deep, .bottom-scroll-deep { /* .scroll_up_btn_light와 이미지 겹치고 안보이게 */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.top-scroll:hover .top-scroll-deep, .bottom-scroll:hover .bottom-scroll-deep { /* 이미지 보이게 */
  display: block;
}

